prSections:
  - title: My Pull Requests
    filters: is:open author:@me
    layout:
      author:
        hidden: true

  - title: Needs My Review
    filters: is:open review-requested:@me -author:app/dependabot

  - title: Dependabot Review
    filters: is:open review-requested:@me author:app/dependabot -owner:YasminTeles
    limit: 50
    layout:
      author:
        hidden: true

  - title: Subscribed
    filters: is:open -author:@me -author:app/dependabot org:vtex

  - title: My Projects
    filters: is:open review-requested:@me author:app/dependabot owner:YasminTeles

smartFilteringAtLaunch: false

defaults:
  layout:
    prs:
      repo:
        grow: true
        width: 50
        hidden: false

repoPaths:
  :owner/:repo: ~/Projects/:repo

keybindings:
  prs:
    - key: v
      command:  code -n {{.RepoPath}}
    - key: g
      command: cd {{.RepoPath}} && git rup

pager:
  diff: delta
